<%# navigation styled for Zurb Foundation 5 %>


      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
          	<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
           <ul class="button-group">
			<%= render 'layouts/navigation_links' %>
            </ul>
          </div>
          <%= render 'layouts/messages' %>
          <h1>Blog <small>This is my blog. It's awesome.</small></h1>
          <hr/>
        </div>
      </div>